{{> scripts-html-open }}

    <!-- HEAD -->
    {{> scripts-head }}

    <!-- BODY -->
    <body>

        <!-- .PREHEADER -->
        {{> scripts-preheader }}

        <!-- .BODY -->
        <row class="body">
            <columns small="12" large="12" class="center" align="center" valign="top">
                <center>
                    {{> body }}
                </center>
            </columns>
        </row>

        <!-- .FIXES -->
        {{> scripts-fixes }}

        <!-- .ANALYTICS -->
        {{> scripts-analytics }}

    </body>

{{> scripts-html-closed }}